<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="d-flex justify-content-between align-items-center flex-md-row flex-column-reverse">
            <ol class="list-unstyled d-flex align-items-center breadcrumb">
                <li class="breadcrumb-item">
                    <h3 class="page-title text-capitalize">List of User</h3>
                </li>
            </ol>

            <div class="d-flex justify-content-end top_btns">

                <button class="btn btn-md btn-primary" *ngIf="checkPermission('create-new-user')"
                    (click)="addUser()">New User</button>

                <!-- Start Search Filter -->
                <div class="search_filter_btn">
                    <button class="btn btn-sm btn-primary" (click)="filter()"><i><img
                                src="../assets/img/icons/filter_icon.svg" alt="" /></i></button>
                    <div class="search_filter" id="search_filter" style="display:none;">
                        <h6 class="f_title">Filters</h6>
                        <div class="filter_block">
                            <div class="filter_list">
                                <div class="d-flex align-items-center filter_items">
                                    <label>City</label>
                                    <div class="in_group">
                                        <select class="form-control" (change)="selectFilterValues('city', $event)">
                                            <option value=""></option>
                                            <option *ngFor="let city of filters?.cityData"> {{city | titlecase}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center filter_items">
                                    <label> Country </label>
                                    <div class="in_group">
                                        <select class="form-control" (change)="selectFilterValues('country', $event)">
                                            <option value=""></option>
                                            <option *ngFor="let country of filters?.countryData"> {{country |
                                                titlecase}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center filter_items">
                                    <label> Role </label>
                                    <div class="in_group">
                                        <select class="form-control" (change)="selectFilterValues('role', $event)">
                                            <option value=""></option>
                                            <option *ngFor="let role of filters?.roleData" value={{role.role}}>
                                                {{role.roleName | titlecase}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center btn-control">
                            <button class="btn btn-md btn-outline-primary" (click)="cancelSearch()">Cancel</button>
                            <button class="btn btn-md btn-primary" (click)="applySearch()">Apply Search</button>
                        </div>
                    </div>
                    <!-- End Search Filter -->
                </div>
            </div>
            <!-- End Filter -->
        </div>
    </div>
    <!-- Breadcrumb -->

    <div class="panel_box">
        <div class="table-responsive">
            <table class="table custom_table">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Phone Number</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="userList?.length> 0; else no_data">
                        <tr *ngFor="let user of userList; let i = index;">
                            <td><a> {{ user?.firstName | titlecase }} {{ user?.lastName | titlecase }}</a></td>
                            <td>{{ user?.phoneNumber }}</td>
                            <td>{{ user?.userrole?.title | titlecase }}</td>
                            <td>
                                <div class="action_btn" id="Div1"
                                    *ngIf="user?.status =='0'  && checkPermission('approve-reject-user') ">
                                    <a class="mr-2" (click)="approveUser(user)"><i><img
                                                src="../assets/img/icons/accept_icon.svg" alt="" /></i></a>
                                    <a (click)="rejectUser(user)"><i><img src="../assets/img/icons/reject_icon.svg"
                                                alt="" /></i></a>
                                </div>
                                <button id="reject" class="badge badge-danger status_badge pointerEventsNone"
                                    *ngIf="user?.isSuspended"> Suspended </button>
                                <button id="accept" class="badge badge-success status_badge pointerEventsNone"
                                    *ngIf="user?.status =='1' && user?.isSuspended== false"> Approved </button>
                                <button id="reject" class="badge badge-danger status_badge pointerEventsNone"
                                    *ngIf="user?.status =='2 '&& user?.isSuspended== false"> Rejected </button>
                            </td>
                            <td>
                                <div class="dropdown dots_btn" id="Div1">
                                    <button class="btn-transparent p-0 dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <img src="../assets/img/icons/dots_icons.svg" alt="" />
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="javascript:void(0)"
                                            (click)="openDetail(user?.id)"><i class="mr-1"><img
                                                    src="../assets/img/icons/view_icon.svg" alt="" /></i>
                                            View</a>
                                        <a class="dropdown-item" href="javascript:void(0)"
                                            (click)="deleteUser(user?.id)" *ngIf="checkPermission('delete-user')"><i
                                                class="mr-1"><img src="../assets/img/icons/delete_icon.svg"
                                                    alt="" /></i>
                                            Delete</a>
                                        <a class="dropdown-item" href="javascript:void(0)"
                                            (click)="reassignPermissions(user?.id, user?.userrole?.title, user?.userrole?.id )"
                                            *ngIf="user?.userrole?.nature ==1 && checkPermission('reassign-role')"><i
                                                class="mr-1"><img src="../assets/img/icons/edit_icon.svg" alt="" /></i>
                                            Reassign role</a>
                                        <!-- <a class="dropdown-item" (click)="editPermissions()"><i class="mr-1"><img
                                                    src="../assets/img/icons/edit_icon.svg" alt="" /></i> Edit</a> -->
                                        <a *ngIf="!user?.isSuspended && checkPermission('suspend-user')"
                                            class="dropdown-item"
                                            (click)="suspendUser(user?.id , user?.isSuspended )"><i class="mr-1"><img
                                                    src="../assets/img/icons/blocked_icon.svg" alt="" /></i>
                                            Suspend</a>
                                        <a *ngIf="user?.isSuspended && checkPermission('suspend-user')"
                                            class="dropdown-item"
                                            (click)="suspendUser(user?.id, user?.isSuspended  )"><i class="mr-1"><img
                                                    src="../assets/img/icons/blocked_icon.svg" alt="" /></i>
                                            Unsuspend</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <!-- End Table Listing -->

        <div
            class="d-flex align-items-center flex-md-row flex-column justify-content-md-between justify-content-center flex-wrap pagination_block">
            <div class="d-flex align-items-center row_count">
                <span class="mb-0 ">No. of Rows</span>
                <select (change)="onLimitChange($event)" [(ngModel)]="selected_limit" name="selectRows">
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
            </div>

            <app-pagination [page]="page" (pageChangeEvent)="pageChanged($event)" [collectionSize]="totalRecords"
                [pageSize]="selected_limit" #appPagination>
            </app-pagination>
        </div>
    </div>
</div>

<ng-template #no_data>
    <tr>
        <td colspan="5">
            <div class="no-record">
                No record found
            </div>
        </td>
    </tr>
</ng-template>