<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="d-flex justify-content-between align-items-center flex-md-row flex-column-reverse">
            <ol class="list-unstyled d-flex align-items-center breadcrumb">
                <li class="breadcrumb-item">
                    <h3 class="page-title text-capitalize">List of Users</h3>
                </li>
            </ol>

            <div class="d-flex justify-content-end top_btns">
                <button class="btn btn-md btn-primary" *ngIf="checkPermission('create-new-user')"
                    (click)="addUser()">New User</button>

                <!-- Start Search Filter -->
                <div class="search_filter_btn">
                    <button class="btn btn-sm btn-primary" (click)="filter()"><i><img
                                src="../assets/img/icons/filter_icon.svg" alt="" /></i></button>
                    <div class="search_filter" id="search_filter" style="display:none;">
                        <h6 class="f_title">Filters</h6>
                        <div class="filter_block">
                            <div class="filter_list">
                                <div class="d-flex align-items-center filter_items">
                                    <label>City</label>
                                    <div class="in_group">
                                        <select class="form-control" (change)="selectFilterValues('city', $event)">
                                            <option value=""></option>
                                            <option *ngFor="let city of filters?.cityData" value={{city}}> {{city |
                                                titlecase}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center filter_items">
                                    <label> Country </label>
                                    <div class="in_group">
                                        <select class="form-control" (change)="selectFilterValues('country', $event)">
                                            <option value=""></option>
                                            <option *ngFor="let country of filters?.countryData" value={{country}}>
                                                {{country |
                                                titlecase}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center filter_items">
                                    <label> Role </label>
                                    <div class="in_group">
                                        <select class="form-control" (change)="selectFilterValues('role', $event)">
                                            <option value=""></option>
                                            <option *ngFor="let role of filters?.roleData" value={{role.role}}>
                                                {{role.roleName | titlecase}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center filter_items">
                                    <label> Status </label>
                                    <div class="in_group">
                                        <!-- [(ngModel)]="searchFilter?.status" [ngModelOptions]="{standalone: true}" -->
                                        <select class="form-control" name="select-filters"
                                            (change)="selectFilterValues('status', $event)">
                                            <option value=""></option>
                                            <option *ngFor="let status of filters?.statusData"
                                                value={{status.statusCode}}>
                                                {{status.status | titlecase}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center btn-control">
                            <button class="btn btn-md btn-outline-primary" (click)="cancelSearch()">Cancel</button>
                            <button class="btn btn-md btn-primary" (click)="applySearch()">Apply Search</button>
                        </div>
                    </div>
                    <!-- End Search Filter -->
                </div>
            </div>
            <!-- End Filter -->
        </div>
    </div>
    <!-- Breadcrumb -->

    <div class="panel_box">
        <div class="table-responsive">
            <table class="table custom_table">
                <thead>
                    <tr>
                        <th>Full Name <div class="sorting"><i (click)="sorting('firstName', 1)"
                                    [class]="active_class === 'firstName1' ? 'active' : ''"><img
                                        src="/assets/img/icons/arw_up.png" alt="sort" /></i>
                                <i (click)="sorting('firstName', -1)"
                                    [class]="active_class === 'firstName-1' ? 'active' : ''"><img
                                        src="/assets/img/icons/arw_down.png" alt="sort" /></i>
                            </div>
                        </th>
                        <th>Phone Number <div class="sorting"><i (click)="sorting('phoneNumber', 1)"
                                    [class]="active_class === 'phoneNumber1' ? 'active' : ''"><img
                                        src="/assets/img/icons/arw_up.png" alt="sort" /></i>
                                <i (click)="sorting('phoneNumber', -1)"
                                    [class]="active_class === 'phoneNumber-1' ? 'active' : ''"><img
                                        src="/assets/img/icons/arw_down.png" alt="sort" /></i>
                            </div>
                        </th>
                        <th>Role </th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="userList?.length> 0; else no_data">
                        <tr *ngFor="let user of userList; let i = index;">
                            <td (click)="openDetail(user?.id)"><a> {{ user?.firstName | titlecase }} {{ user?.lastName |
                                    titlecase }}</a></td>
                            <td>{{ user?.phoneNumber }}</td>
                            <td>{{ user?.userrole?.title | titlecase }}</td>
                            <td>
                                <button *ngIf="!user?.isSuspended && !user?.isDeleted"
                                    class="badge status_badge pointerEventsNone"
                                    [ngClass]="(user?.status =='1'?'badge-success':(user?.status =='2'? 'badge-danger':(user?.status =='0'?'badge-warning': '')))">
                                    {{user?.status
                                    | approvalStatus | titlecase}} </button>
                                <button *ngIf="user?.isSuspended && !user?.isDeleted"
                                    class="badge badge-warning status_badge pointerEventsNone"> Suspended </button>
                                <button *ngIf="user?.isDeleted && !user?.isSuspended"
                                    class="badge badge-dark status_badge pointerEventsNone">
                                    Deleted </button>
                            </td>
                            <td>
                                <div class="dropdown dots_btn" id="Div1">
                                    <button class="btn-transparent p-0 dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" (click)="openMenu(i)">
                                        <img src="../assets/img/icons/dots_icons.svg" alt="" />
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" (click)="openDetail(user?.id)"><i class="mr-1"><img
                                                    src="../assets/img/icons/view_icon.svg" alt="" /></i>
                                            View</a>
                                        <a class="dropdown-item" (click)="deleteUser(user?.id)"
                                            *ngIf="!user.isDeleted && (user?.status =='2' || user?.status =='0') && checkPermission('delete-user') && !user.isSuspended  && !user.isAccountVerified "><i
                                                class="mr-1"><img src="../assets/img/icons/delete_icon.svg"
                                                    alt="" /></i>
                                            Delete</a>

                                        <div class="multi-dropdown position-relative" id="multiDrop"
                                            *ngIf="!user.isDeleted && user.isAccountVerified">
                                            <a (click)="openUpdateMenu(i)" class="dropdown-item "
                                                id="dropdownMenuButton1">
                                                <i class="mr-1"><img src="../assets/img/icons/update_icon1.svg"
                                                        alt="" /></i>
                                                Update
                                            </a>
                                            <ul class="submenu dropdown-menu" id="drop{{i}}" style="display:none;">

                                                <li
                                                    *ngIf="!user?.isSuspended && checkPermission('approve-reject-user') && user.status !='1' && user.status =='0' ">
                                                    <a class="dropdown-item" (click)="approveUser(user)"><i
                                                            class="mr-1"><img src="../assets/img/icons/accept_icon.svg"
                                                                alt="" /></i> Approve</a>
                                                </li>
                                                <li
                                                    *ngIf=" checkPermission('approve-reject-user') && user.status !='2' && user?.status =='0'">
                                                    <a class="dropdown-item" (click)="rejectUser(user)">
                                                        <i class="mr-1"><img src="../assets/img/icons/reject_icon.svg"
                                                                alt="" /></i>
                                                        Reject</a>
                                                </li>
                                                <li *ngIf="!user?.isSuspended && user.status !='2'"><a
                                                        class="dropdown-item"
                                                        (click)="reassignPermissions(user?.id, user?.userrole?.title, user?.userrole?.id, user?.userrole?.type)">
                                                        <i class="mr-1"><img src="../assets/img/icons/edit_icon.svg"
                                                                alt="" /></i> Re-assign Role</a>
                                                </li>
                                                <li>
                                                    <!-- && checkPermission('suspend-user')" -->
                                                    <a *ngIf="!user?.isSuspended && user?.status !='2' "
                                                        class=" dropdown-item"
                                                        (click)="suspendUser(user?.id , user?.isSuspended )">
                                                        <i class="mr-1"><img src="../assets/img/icons/blocked_icon.svg"
                                                                alt="" /></i>
                                                        Suspend</a>

                                                    <!-- && checkPermission('suspend-user') -->
                                                    <a *ngIf="user?.isSuspended && user?.status !='2'"
                                                        class="dropdown-item"
                                                        (click)="suspendUser(user?.id, user?.isSuspended  )">
                                                        <i class="mr-1"><img src="../assets/img/icons/blocked_icon.svg"
                                                                alt="" /></i>
                                                        Unsuspend</a>
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- <a class="dropdown-item" href="javascript:void(0)"
                                            (click)="reassignPermissions(user?.id, user?.userrole?.title, user?.userrole?.id )"
                                            *ngIf="checkPermission('reassign-role')"><i class="mr-1"><img
                                                    src="../assets/img/icons/edit_icon.svg" alt="" /></i>
                                            Reassign role</a>
                                        <a *ngIf="!user?.isSuspended && checkPermission('suspend-user')"
                                            class="dropdown-item"
                                            (click)="suspendUser(user?.id , user?.isSuspended )"><i class="mr-1"><img
                                                    src="../assets/img/icons/blocked_icon.svg" alt="" /></i>
                                            Suspend</a>
                                        <a *ngIf="user?.isSuspended && checkPermission('suspend-user')"
                                            class="dropdown-item"
                                            (click)="suspendUser(user?.id, user?.isSuspended  )"><i class="mr-1"><img
                                                    src="../assets/img/icons/blocked_icon.svg" alt="" /></i>
                                            Unsuspend</a> -->
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <!-- End Table Listing -->

        <div
            class="d-flex align-items-center flex-md-row flex-column justify-content-md-between justify-content-center flex-wrap pagination_block">
            <div class="d-flex align-items-center row_count">
                <span class="mb-0 ">No. of Rows</span>
                <select (change)="onLimitChange($event)" [(ngModel)]="selected_limit" name="selectRows">
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
            </div>

            <app-pagination [page]="page" (pageChangeEvent)="pageChanged($event)" [collectionSize]="totalRecords"
                [pageSize]="selected_limit" #appPagination>
            </app-pagination>
        </div>
    </div>
</div>

<ng-template #no_data>
    <tr>
        <td colspan="5">
            <div class="no-record">
                No record found
            </div>
        </td>
    </tr>
</ng-template>