<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="d-flex justify-content-between align-items-center flex-md-row flex-column-reverse">
            <ol class="list-unstyled d-flex align-items-center breadcrumb">
                <li class="breadcrumb-item">
                    <h3 class="page-title"><a href="risk-management.html">Risk Management</a></h3>
                </li>
                <li class="breadcrumb-item active">Target List</li>
            </ol>
        </div>
    </div>
    <!-- Breadcrumb -->

    <div class="create_sale risk_block">

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">List</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false">Add Items</a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                <div class="card card_box">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <label>Criteria Code</label>
                                <div class="form-group">
                                    <input type="text" placeholder="HR FIRSTNAMES" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label>Advisory</label>
                                <div class="form-group">
                                    <input type="text" placeholder="LIST OF HIG RISK FIRST NAMES"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label>Risk Lane</label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select</option>
                                        <option>Date of Departure</option>
                                        <option>Sale Type</option>
                                        <option>Transport ID</option>
                                        <option>Total Sale Value</option>
                                        <option>Nationality</option>
                                        <option>Receipt Number</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label>Field Name</label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Action</option>
                                        <option>Red: Verify at checkin</option>
                                        <option>Orange: Verify in departure lounge</option>
                                        <option>Yellow: Verify Documentation</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label>Valid from</label>
                                <div class="form-group">
                                    <input type="date" placeholder="This customer is known…." class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label>Valid To</label>
                                <div class="form-group">
                                    <input type="date" placeholder="This customer is known…." class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="btn_group">
                            <button class="btn btn-md btn-primary">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End tab 1 -->

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="card card_box">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <label>List Code <sup class="text-danger"></sup> </label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="46465HHKJ" />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <label>List Value</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="It’s good product" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label></label>
                                <div class="form-group">
                                    <button class="btn btn-md btn-primary w-100">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel_box">
                    <div class="table-responsive">
                        <table class="table custom_table">
                            <thead>
                                <tr>
                                    <th>List Code</th>
                                    <th>List Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>HR FIRSTNAMES</td>
                                    <td>BULLOCK</td>
                                    <td>
                                        <div class="dropdown dots_btn" id="Div1">
                                            <button class="btn-transparent p-0 dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <img src="../../../../../assets/img/icons/dots_icons.svg" alt=""/>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#accessPermission"><i class="mr-1"><img
                                                            src="../../../../../assets/img/icons/edit_icon.svg" alt=""/></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#blockUser"><i class="mr-1"><img
                                                            src="../../../../../assets/img/icons/delete_icon.svg" alt=""/></i>
                                                    Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td>HR FIRSTNAMES</td>
                                    <td>BOLTON</td>
                                    <td>
                                        <div class="dropdown dots_btn" id="Div1">
                                            <button class="btn-transparent p-0 dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <img src="../../../../../assets/img/icons/dots_icons.svg" alt=""/>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#accessPermission"><i class="mr-1"><img
                                                            src="../../../../../assets/img/icons/edit_icon.svg" alt=""/></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#blockUser"><i class="mr-1"><img
                                                            src="../../../../../assets/img/icons/delete_icon.svg" alt=""/></i>
                                                    Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>HR FIRSTNAMES</td>
                                    <td>BLOW</td>
                                    <td>
                                        <div class="dropdown dots_btn" id="Div1">
                                            <button class="btn-transparent p-0 dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <img src="../../../../../assets/img/icons/dots_icons.svg" alt=""/>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#accessPermission"><i class="mr-1"><img
                                                            src="../../../../../assets/img/icons/edit_icon.svg" alt=""/></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#blockUser"><i class="mr-1"><img
                                                            src="../../../../../assets/img/icons/delete_icon.svg" alt=""/></i>
                                                    Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="even">
                                    <td>HR FIRSTNAMES</td>
                                    <td>ROSE</td>
                                    <td>
                                        <div class="dropdown dots_btn" id="Div1">
                                            <button class="btn-transparent p-0 dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <img src="../../../../../assets/img/icons/dots_icons.svg" alt=""/>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#accessPermission"><i class="mr-1"><img
                                                            src="../../../../../assets/img/icons/edit_icon.svg" alt=""/></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#blockUser"><i class="mr-1"><img
                                                            src="../../../../../assets/img/icons/delete_icon.svg" alt=""/></i>
                                                    Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>HR FIRSTNAMES</td>
                                    <td>BLOW</td>
                                    <td>
                                        <div class="dropdown dots_btn" id="Div1">
                                            <button class="btn-transparent p-0 dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <img src="../../../../../assets/img/icons/dots_icons.svg" alt=""/>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#accessPermission"><i class="mr-1"><img
                                                            src="../../../../../assets/img/icons/edit_icon.svg" alt=""/></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                    data-target="#blockUser"><i class="mr-1"><img
                                                            src="../../../../../assets/img/icons/delete_icon.svg" alt=""/></i>
                                                    Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End Table Listing -->
                </div>

                <div class="row">
                    <div class="col-md-12 mt-3">
                        <div class="btn_group">
                            <button class="btn btn-md btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End tab 2 -->
        </div>
    </div>
   
</div>

!-- Upload Sale Modal -->
<div class="modal fade" id="UploadSale" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal_div">
                <form action="">
                    <div class="card-body" id="tableToModify">
                        <div class="header-title text-center">
                            <h5>Upload Sale</h5>
                        </div>
                        <div id="drop_file_zone" ondrop="upload_file(event)" ondragover="return false">
                            <div id="drag_upload_file">
                                <i><img src="../../../../../assets/img/icons/upload_icon.svg" alt="" /></i>
                                <p>
                                    Drag and Drop here
                                    <br />
                                    or
                                </p>
                                <div class="input_file">
                                    <input type="file" id="selectfile" />
                                    <label>Browse file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn_group text-center">
                            <button class="btn btn-md btn-outline-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End -->

<!-- Upload Sale Modal -->
<div class="modal fade" id="saleSaved" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal_div text-center">
                <div class="card-body" id="tableToModify">
                    <i class="my-3 d-block"><img src="../../../../../assets/img/icons/success_check_icon.svg" alt="Check icon"
                            width="70" /></i>
                    <p>Sale submitted successfully</p>
                </div>
                <div class="modal-footer">
                    <div class="btn_group text-center">
                        <a href="sales-lists.html" class="btn btn-md btn-primary">Okay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End -->