<div class="d-flex align-items-center front-forms">
    <div class="pack_lft"><img src="assets/img/pack_lft.svg" alt="" class="img-fluid" /></div>
    <div class="pack_rht"><img src="assets/img/pack_rht.svg" alt="" class="img-fluid" /></div>
    <div class="container-fluid">
        <div class="login_box">
            <div class="front-title text-center">
                <h2>Customs<br />
                    Warehouse Inventory<br />
                    Management System</h2>
            </div>
            <form class="form-box" [formGroup]="loginForm" (submit)="signIn()">
                <h2 class="text-center">Sign In</h2>

                <div class="row">
                    <div class="col-12">
                        <label>Email</label>
                        <div class="form-group">
                            <input type="email" formControlName="email" name="email" id="email" class="form-control" />
                            <div class="input-errors"
                                *ngIf="(submitted || controls.email?.touched )  && controls.email?.errors?.required">
                                Email is required
                            </div>
                            <div class="input-errors"
                                *ngIf="(submitted  || controls.email?.touched ) && controls.email?.errors?.pattern">
                                Email a valid email
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Password</label><br>
                        <div class="form-group">
                            <input [type]="passwordType" formControlName="password" name="password" id="input-password"
                                class="form-control" />
                            <span (click)="togglePassword()" class="pwd_icon"
                                style="position: absolute;top: 12px;right: 10px; cursor: pointer;">
                                <img *ngIf="passwordType == 'text'" src="assets/img/icons/hide_pwd_icon.svg">
                                <img *ngIf="passwordType == 'password'" src="assets/img/icons/show_pwd_icon.svg">
                            </span>

                            <div class="input-errors"
                                *ngIf="(submitted  || controls.password?.touched ) && controls.password?.errors?.required">
                                Password is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group text-right cursorPointer">
                            <a (click)="forgotPassword()">Forgot Password?</a>
                        </div>
                    </div>
                </div>
                <div class="row captcha_row">
                    <div class="col-12 ">
                        <!-- <div class="d-flex align-items-start justify-content-between captcha_field"> -->
                        <div class="form-group set_width">
                            <ngx-recaptcha2 [size]="'normal'" class="g-recaptcha"
                                (success)="handleSuccessRecaptcha($event)" [siteKey]="siteKey"
                                formControlName="recaptcha">
                            </ngx-recaptcha2>

                            <div class="input-errors" *ngIf="submitted && controls.recaptcha.errors">
                                Please verify captcha.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <button type="submit" class="w-100 btn btn-lg btn-primary text-capitalize">
                            Sign In
                        </button>
                    </div>
                    <div class="col-12 cursorPointer">
                        <a (click)="goToSignUp()" class="sign_btn">Sign Up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>