<!-- <div class="modal fade" id="userDetail" tabindex="-1" role="dialog" aria-labelledby="userDetail">
	  <div class="modal-dialog modal-dialog-centered" role="document"> -->
<div class="modal-content">
  <div class="modal_div">
    <button type="button" class="close" (click)="close()"><img src="../assets/img/icons/close_icon.svg"
        alt="close" /></button>

    <div class="card-body">
      <div class="header-title text-center">
        <h5>Details</h5>
      </div>
      <div class="data_list_view">
        <div class="d_items d-flex justify-content-between">
          <span class="l_title">Full Name</span>
          <strong>{{ userDetails?.firstName | titlecase }} {{ userDetails?.lastName | titlecase}}</strong>
        </div>
        <div class="d_items d-flex justify-content-between">
          <span class="l_title">Role</span>
          <strong>{{ userDetails?.userrole?.title | titlecase }}</strong>
          <!-- <select class="form-control" aria-expanded="true" [(ngModel)]="role" required>
            <option disabled selected> </option>
        
            <option *ngFor="let role of roles" value={{role.id}}>{{role.title | titlecase }}</option>
          </select> -->
        </div>
        <div class="d_items d-flex justify-content-between">
          <span class="l_title">email</span>
          <strong>{{userDetails?.email}}</strong>
        </div>
        <div class="d_items d-flex justify-content-between">
          <span class="l_title">Phone Number</span>
          <strong> {{ userDetails?.phoneNumber}}</strong>
        </div>
        <div class="d_items d-flex justify-content-between">
          <span class="l_title">Warehouse Code</span>
          <strong>{{ userDetails?.warehouseCode}}</strong>
        </div>
        <!-- <div class="d_items d-flex justify-content-between">
          <span class="l_title">Position</span>
          <strong>{{userDetails?.position | userPosition:userDetails?.role | titlecase }}</strong>
        </div> -->
        <div class="d_items d-flex justify-content-between">
          <span class="l_title">Address</span>
          <strong> {{ userDetails?.street | titlecase }}, {{ userDetails?.city | titlecase }}, {{
            userDetails?.country | titlecase }} - {{
            userDetails?.postalCode }} </strong>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="btn_group text-center">
        <button class="btn btn-md btn-danger" (click)="cancelApproval()">Cancel</button>
        <button type="submit" class="btn btn-md btn-success" data-dismiss="modal"
          (click)="acceptUser()">Approve</button>
      </div>
    </div>

  </div>
</div>
<!-- </div>
	</div> -->