// _base.scss
@import 'variable';
@import 'flexbox';
@import 'mixin';
@import 'fonts.scss';

$primary-color:#2AA6F0;
$base-color:#2E2E2E;
$white-color:#ffffff;
$black-color:#000000;
$black-color1:#272727;
$black-color2:#1D1D1D;
$black-color3:#343434;
$black-light-color1: #171717;
$grey-color:#800c80;
$grey-dark-color:#ddd;
$grey-dark-color1:#989898;
$grey-dark-color2:#696969;
$grey-dark-color3:#555555;
$grey-dark-color4:#747474;
$grey-light-color:#E6E6E6;
$grey-light-color1:#e7ebf3;
$grey-light-color2:#DBDBDB;
$grey-light-color3:#A8A8A8;
$grey-light-color4:#e9ecef;
$grey-light-color5:#f7f7fb;
$Skyblue-color1:#A4D9F9;
$dark-skyblue-color:#237FD9;
$dark-skyblue-color1:#196490;
$dark-skyblue-color2:#195A99;
$blue-light-color:#EFF7FF;
$blue-light-color1:#E7F4FC;
$blue-light-color2:#BCE2FA;
$blue-light-color3:#A0D0FF;
$blue-light-color4:#86D2FF;
$blue-light-color5:#7EBBE0;
$red-color: #ff0000;
$red-dark-color: #dc3545;
$transparent: transparent;
$green-color: #00AD71;
