// _variable.scss

$none: none;
$block: block;
$inline-block:inline-block;

$relative: relative;
$absolute: absolute;
$static: static;
$fixed: fixed;

$center: center;
$right: right;
$left: left;
$top: top;
$bottom: bottom;

$capitalize: capitalize;
$uppercase: uppercase;
$lowercase: lowercase;

$visible:visible;
$pointer:pointer;
$hidden: hidden;
$scroll:scroll;
$auto:auto;