<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="d-flex justify-content-between align-items-center flex-md-row flex-column-reverse">
            <h3 class="page-title">Error Logs</h3>
            <!-- Start Search Filter -->
            <div class="search_filter_btn">
                <button class="btn btn-sm btn-primary" (click)="filter()"><i><img
                            src="../assets/img/icons/filter_icon.svg" alt="" /></i></button>
                <div class="search_filter" id="search_filter" style="display:none;">
                    <h6 class="f_title">Filters</h6>
                    <button class="btn btn-md btn-outline-primary float-right"
                        style="right: 10px;position: absolute;height: 40px;top: 10px;padding-top: 8px;"
                        (click)="clearFilters()">Clear</button>
                    <div class="filter_block">
                        <div class="filter_list">
                            <div class="d-flex align-items-center filter_items">
                                <label> Operation </label>
                                <div class="in_group">
                                    <select class="form-control" [(ngModel)]="selected_operation">
                                        <option value="">Select operation</option>
                                        <option *ngFor="let operation of filters?.operationData"
                                            value={{operation?.id}}>
                                            {{operation?.operation}} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex align-items-center filter_items">
                                <label> Date Range </label>
                                <div class="in_group">
                                    <input type="date" class="form-control" style="margin-bottom: 5px;"
                                        [(ngModel)]="fromDate" ngbDatepicker #d="ngbDatepicker"
                                        (click)="d.toggle()" />
                                    <input [disabled]="fromDate?.year ? false: true" type="date" class="form-control"
                                        [(ngModel)]="toDate" ngbDatepicker
                                        #d1="ngbDatepicker" (click)="d1.toggle()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center btn-control">
                        <button class="btn btn-md btn-outline-primary" (click)="cancelSearch()">Cancel</button>
                        <button class="btn btn-md btn-primary" (click)="applySearch()">Apply Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel_box">
        <div class="table-responsive">
            <table class="table custom_table">
                <thead>
                    <tr>
                        <th> Module </th>
                        <th> Timestamp <div class="sorting"><i (click)="sorting('createdAt', 1)"
                                    [class]="active_class === 'createdAt1' ? 'active' : ''"><img
                                        src="/assets/img/icons/arw_up.png" alt="sort" /></i>
                                <i (click)="sorting('createdAt', -1)"
                                    [class]="active_class === 'createdAt-1' ? 'active' : ''"><img
                                        src="/assets/img/icons/arw_down.png" alt="sort" /></i>
                            </div>
                        </th>
                        <th> Operation </th>
                        <th> Declaration ID </th>
                        <th> Error </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="errorLogs?.length> 0; else no_data">
                        <tr *ngFor="let item of errorLogs; let i = index;">
                            <td> {{item?.module}} </td>
                            <td>{{(parseTimeString(item?.createdAt) ? parseTimeString(item?.createdAt):
                                '-')}}</td>
                            <td> {{ (item?.operation ? item?.operation :'-')}} </td>
                            <td> {{ (item?.declarationId? item?.declarationId: '-') }} </td>
                            <td>{{ item?.error ? item?.error: '-'}} </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div
            class="d-flex align-items-center flex-md-row flex-column justify-content-md-between justify-content-center flex-wrap pagination_block">
            <div class="d-flex align-items-center row_count">
                <span class="mb-0 ">No. of Rows</span>
                <select (change)="onLimitChange($event)" [(ngModel)]="selected_limit" name="selectRows">
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
            </div>

            <app-pagination [page]="page" (pageChangeEvent)="pageChanged($event)" [collectionSize]="totalRecords"
                [pageSize]="selected_limit" #appPagination>
            </app-pagination>
        </div>
    </div>
</div>

<ng-template #no_data>
    <tr>
        <td colspan="10">
            <div class="no-record">
                No record(s) found
            </div>
        </td>
    </tr>
</ng-template>