<div class="d-flex align-items-center front-forms">
    <div class="pack_lft"><img src="assets/img/pack_lft.svg" alt="" class="img-fluid" /></div>
    <div class="pack_rht"><img src="assets/img/pack_rht.svg" alt="" class="img-fluid" /></div>
    <div class="container-fluid">
        <div class="login_box">
            <div class="front-title text-center">
                <h2>Customs<br />
                    Warehouse Inventory<br />
                    Management System</h2>
            </div>
            <form class="form-box" [formGroup]="resetPasswordForm">
                <div class="box_title">
                    <h3 class="text-center">Reset Password</h3>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>New Password</label>
                        <div class="form-group">
                            <input type="password" formControlName="newPassword" name="pwd" id="email"
                                placeholder="New Password" class="form-control" />
                            <div class="input-errors"
                                *ngIf="(submitted || controls.newPassword?.touched) && controls.newPassword?.errors?.required">
                                Please enter password
                            </div>
                            <div class="input-errors"
                                *ngIf="(submitted || controls.newPassword?.touched) && controls.newPassword?.errors?.pattern">
                                Password should contain 1 number, 1 alphabet, 1 special character.
                            </div>
                            <div class="input-errors"
                                *ngIf="(submitted || controls.newPassword?.touched) && !controls.newPassword?.errors?.pattern && controls.newPassword?.errors?.maxlength">
                                Password can contain only 15 characters
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Confirm Password</label>
                        <div class="form-group">
                            <input type="password" formControlName="confirmPassword" name="pwd" id="email"
                                placeholder="Confirm Password" class="form-control" />
                            <div class="input-errors" *ngIf="submitted && controls.confirmPassword?.errors?.required">
                                Please enter password to confirm
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mt-4">
                        <button type="button" class="w-100 btn btn-lg btn-primary text-capitalize"
                            (click)="resetPassword()">Submit</button>
                    </div>
                    <div class="col-12">
                        <a (click)="signIn()" class="sign_btn">Sign In</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>