<!-- <div class="modal fade" id="CreateDeclaration" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document"> -->
<div class="modal-content">
  <!-- <form rel="" action=""> -->
  <div class="modal_div">
    <form action="inventory-variance-report.html">
      <div class="card-body" id="tableToModify">
        <div class="header-title text-center">
          <h5>Create Declaration</h5>
        </div>
        <div class="form-row">
          <div class="col-12">
            <label>Start Date</label>
            <div class="form-group">
              <input type="date" class="form-control" placeholder="E.g. 01-01-2020" />
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <label>End Date</label>
            <div class="form-group">
              <input type="date" class="form-control" placeholder="E.g. 25-01-2020" />
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12">
            <label>Sale Type</label>
            <div class="form-group">
              <select class="form-control">
                <option>Select Type</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn_group text-center">
          <button class="btn btn-md btn-outline-primary" (click)="cancel()">Cancel</button>
          <button class="btn btn-md btn-primary" (click)="submit()">Submit Report</button>
        </div>
      </div>
      <!-- </div> -->
    </form>
  </div>
</div>
<!-- </div>
</div> -->