@import '../../../../assets/css/base.scss';

.accordion-toggle>td{background:$blue-light-color1!important; position:$relative; cursor:$pointer; line-height: 1;}
.accordion-toggle>td:after {
	content:'';
	background-image:url(../../../../assets/img/icons/arrow_down.svg);
	background-repeat:no-repeat;
	background-size:100%;
	position:$absolute;
	right:20px;
	top:14px;
	height:12px;
	width:14px;
	@include transform(rotate(-180deg));	
	display:$none;
} 
.table_scroll {
	max-height: 130px;
	overflow-y: auto;
	overflow-x: $hidden;
}
.table_header {	 
	font-weight:$f-semibold; 
	font-size: $f12+3;
	.row {
		background:$blue-light-color5;
		color:$white-color;
		font-size: $f12+3;
	}
	.col {
		padding-top:15px;
		padding-bottom: 15px;
	}
}

select {cursor: $pointer;}
.select_disabled {
    color: #cc9292;
	cursor: not-allowed;
    pointer-events: $none;
}

.table_scroll {
	font-weight:$f-regular; 
	font-size: $f12+3;
	.row{
		.col {
			padding-top:15px;
			padding-bottom: 15px;
		}
		&:nth-child(even){
			.col {
				background:$blue-light-color;
			}
		}
	}
}

.cursorEventsNone{
	pointer-events: none;
	cursor: not-allowed;
}