@import '../../../../../assets/css/base.scss';

.accordion-toggle>td{background:$white-color!important; position:$relative; cursor:$pointer; line-height: 1;}
.accordion-toggle>td:after{
	content:'';
	background-image:url(../../../../../assets/img/icons/arrow_down.svg);
	background-repeat:no-repeat;
	background-size:100%;
	height:12px;
	width:14px;
	position:$absolute;
	right:20px;
	top:32px;
	display:$none;
	@include transform(rotate(-180deg));	
}

.accordin_table {
	&::after {
		content:''; 
		background-color:$white-color;
		background-image:url(../../../../../assets/img/icons/arrow_down.svg);
		background-repeat:no-repeat;
		background-size:100%;
		height:12px;
		width:14px;
		right:20px;
		top:-31px; 
		position:$absolute;
		@include transform(rotate(0deg));
	}
}
.accordin_row {
	 td {
		position: $relative;
		&:last-child {
			padding-right: 32px;
			&::after {
				content:''; 
				background-image:url(../../../../../assets/img/icons/arrow_down.svg);
				background-repeat:no-repeat;
				background-size:100%;
				height:12px;
				width:14px;
				right:20px;
				top:22px; 
				position:$absolute;
				@include transform(rotate(-180deg));
			}
		}
	}
	&.show {
		td {
			&:last-child {
				&::after{
					@include transform(rotate(-180deg));
					top:18px;
				}
			}
		}
	}
}

.table_scroll {
	max-height: 130px;
	overflow-y: auto;
	overflow-x: $hidden;
	.col {
		word-break: break-word;
	}
}
.table_header {	
	font-weight:$f-semibold; 
	color:$white-color;
	font-size: $f12+3;
	padding:0;
	.row {
		background:$blue-light-color5;
	}
	.col {
		padding-top:15px;
		padding-bottom: 15px;
	}
}
 
.select_disabled {
    pointer-events: $none;
	cursor: not-allowed;
    color: #cc9292;
}

.table_scroll {
	font-weight:$f-regular; 
	font-size: $f12+3;
	.row{
		.col {
			padding-top:15px;
			padding-bottom: 15px;
		}
		&:nth-child(even){
			.col {
				background:$blue-light-color;
			}
		}
	}
}
// tr {
// 	cursor: $pointer;
// }
.cursorEventsNone{
	pointer-events: none;
	cursor: not-allowed;
}
select {cursor: $pointer;}

.accordin_table {
	.table_header, .table_scroll {
		background:$blue-light-color1;
		padding: 10px;
		margin: 5px;
		.row {
			margin:0;
		}
	}
	.table_header {
		margin-bottom:0;
		padding-bottom: 0;
	}
	.table_scroll {
		margin-top:0;
	}
}