<!-- <div class="modal fade" id="blockUser" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document"> -->
<!-- <div class="modal-content">
  <div class="modal_div text-center">

    <div class="card-body" id="tableToModify">
      <h3>Permissions</h3>
      <div class="row" *ngFor="let permission of accessPermissions | keyvalue">
        <div class="col-md-4">
          <h6> {{ permission?.key | titlecase}} </h6>
        </div>
        <div class="col-md-8">
          <p *ngFor="let permission1 of checkIfSubChild( permission?.value) "> {{permission1 }}</p>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="btn_group text-center">
        <button class="btn btn-md btn-outline-primary" (click)="close()"> Close </button>
      </div>
    </div>

  </div>
</div> -->

<!-- Start Create Role Modal -->
<!-- <div class="modal fade" id="createRole" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document"> -->
<div class="modal-content">
  <div class="modal_div">
    <div class="card-body">
      <div class="header-title text-center text-capitalize">
        <h5>Permissions</h5>
      </div>
      <div class="role_listing">
        <ul class="list-unstyled chk_lists">
          <li *ngFor="let item of accessPermissions">
            <div class="d-flex align-items-lg-center chk_items">
              <b><label>{{item.key | titlecase}}</label></b>
              <div class="d-flex justify-content-start flex-wrap">
                <div class="check-box" *ngFor="let item1 of item.value">
                  <input type="checkbox" checked disabled>
                  <span class=" check-mark"><span>{{item1 | titlecase}}</span></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <div class="btn_group text-center">
        <button class="btn btn-md btn-outline-primary" (click)="close()"> Close </button>
      </div>
    </div>
  </div>
</div>